
.title{
background-color: #1f2937 ;
color: #f9faf8;
padding: 20px;

}


.main{
    color: #f9faf8;
    font-size: 48px bold;
    

}
.header{
    color: #f9faf8;
    display: flex;
    justify-content: center;
    
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
}
.firts{
    color:#f9faf8;
    font-size: 18px;
    float: left; 
    width: 150%;
  
}
.secondary{
    color: #f9faf8;
    font-size: 12px;
    float: right;
    width: 50%;

}
.content{
    margin-left: 50px;
    margin-right: 50px;
}
.castle {
width: 300px;
height: 200px;
float: right;
margin-left: 10px;


    
}

.text{
    width: 350px;


}
.button button{
    background-color: #3882f6;
    color:white;
    border-radius: 5px;
    border: none;
    outline: none;
}


.middle{
    margin-left: 50px;
    margin-right: 50px;
}
.box{
    display: flex;
    justify-content: space-between;

}

.text-image{
    flex-grow: 1;
    text-align: center;
    font-size: 16px;

}
.text-image p{
    text-align: center;
    font-size: 16px;
}
.text-image img {
max-width: 125px;
height: auto;
border-radius: 10px;
border-color: blue ;

border radius: 10px
}
.text-image p {
    margin-top: 10px;
    font-size: 12px;
}

.random{
    color: #1f2937;
    font-size: 36px

}
.down{
    background-color: #e5e7eb;
    overflow: auto;
}
.god{
    margin-left: 50px;
    margin-right: 50px;
}
.god p{
    width: 100%;
    font-size: 20px;
    font-style: oblique;
    float: left;
}
.god h3{
    margin-top: auto;
    float: right;
}
.footer{
    background-color: #3882f6;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    overflow: auto;
    margin-top: 50px;
}
.h{
    margin-left: 30px;
    color:white;
    float:left ;

}

.buton button{
    color: white;
    align-items: center;
    background-color: #3882f6;
    justify-content: center;
    border-color: white;
    float: right;
    border-radius: 5px;
    margin-right: 50px;
    margin-top: 40px;
}
.finish{
    background-color: #1f2937;
    overflow: auto;
}
.finish h5{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 12px;
}